[Desktop Entry]
Name=Liri
Comment=QtQuick and Wayland based desktop environment
Exec=@BINDIR@/liri-session -- -platform liri
TryExec=@BINDIR@/liri-session
Icon=start-here
Type=Application


# Translations
Icon[zh_CN]=Start-Here
Name[zh_CN]=Liri
Comment[zh_CN]=基于QtQuick和Wayland的桌面环境
