[Desktop Entry]
Name=Liri
Comment=QtQuick and Wayland based desktop environment
Exec=@BINDIR@/liri-session -- -platform liri
TryExec=@BINDIR@/liri-session
Icon=start-here
Type=Application


# Translations
Icon[pt_BR]=start-here
Name[pt_BR]=Liri
Comment[pt_BR]=Ambiente de trabalho baseado no QtQuick e Wayland
