[Unit]
Description=Liri graphical user session
BindsTo=graphical-session.target
Requires=liri-session-pre.target liri-shell.target liri-shell-helper.target
After=liri-session-pre.target liri-shell.target liri-shell-helper.target
