[Unit]
Description=Services used by the Liri graphical user session
StopWhenUnneeded=yes
# Never manually start or stop
RefuseManualStart=yes
RefuseManualStop=yes
