[Desktop Entry]
Name=Liri
Comment=QtQuick and Wayland based desktop environment
Exec=@BINDIR@/liri-session -- -platform liri
TryExec=@BINDIR@/liri-session
Icon=start-here
Type=Application


# Translations
Icon[fr]=start-here
Name[fr]=Liri
Comment[fr]=Environnement de bureau basé sur QtQuick et sur Wayland
