[Desktop Entry]
Name=Liri
Comment=QtQuick and Wayland based desktop environment
Exec=@BINDIR@/liri-session -- -platform liri
TryExec=@BINDIR@/liri-session
Icon=start-here
Type=Application


# Translations
Icon[ca]=comença-ací
Name[ca]=Liri
Comment[ca]=Entorn d'escriptori basat en QtQuick  Wayland
