[Desktop Entry]
Name=Liri
Comment=QtQuick and Wayland based desktop environment
Exec=@BINDIR@/liri-session -- -platform liri
TryExec=@BINDIR@/liri-session
Icon=start-here
Type=Application


# Translations
Icon[ru]=start-here
Name[ru]=Liri
Comment[ru]=Среда рабочего стола, использующая QtQuick и Wayland
