[Desktop Entry]
Name=Liri
Comment=QtQuick and Wayland based desktop environment
Exec=@BINDIR@/liri-session -- -platform liri
TryExec=@BINDIR@/liri-session
Icon=start-here
Type=Application


# Translations
Icon[da]=start-here
Name[da]=Liri
Comment[da]=QtQuick- og Wayland-baseret skrivebordsmiljø
