[Desktop Entry]
Name=Liri
Comment=QtQuick and Wayland based desktop environment
Exec=@BINDIR@/liri-session -- -platform liri
TryExec=@BINDIR@/liri-session
Icon=start-here
Type=Application


# Translations
Icon[pl]=start-here
Name[pl]=Liri
Comment[pl]=Środowisko graficzne oparte na QtQuick i Waylandzie
